name: Run Tests

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
  push:
    tags:
      - 'v*'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Define the Rust versions to test against
        rust-version: [ "1.85.0", "stable", "beta", "nightly" ]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Rust ${{ matrix.rust-version }}
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust-version }}

      - name: Configure git identity for tests
        run: |
          git config --global user.email "ci@heynostos.tech"
          git config --global user.name "CI"

      - name: Run All Tests
        run: cargo test --all-targets --workspace -- --nocapture
